 .upload-box {
  background: #fff;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 350px;
}  

input[type="file"] {
    margin: 1rem 0;
}

#preview {
    margin-top: 1rem;
    max-width: 350px;
    display: none;
}

#response {
    margin-top: 1rem;
    color: green;
    font-weight: bold;
}

.checkbox-group {
    align-items: center; 
    vertical-align: middle;
    display:flex;
}   

.checkbox-group input[type="checkbox" i] {
    width: 35px;
    height:35px;
    margin-right: 8px; 
    flex-shrink: 0; 

}

.checkbox-group label {
    word-wrap: break-word; 
}